<html>
	<head>
		<title>App</title>
	</head>

	<body style="background-color:#CFCFCF;">

		<div id="body" align="center" >

		<div id="text">
		<h2>Welcome to road app, the completely usefull app that tells you things!</h2>
		<p>
		The idea behind road app is to take real time open data about travel disruption supplied by the government, and display it here in
		a convient mannier, so you can plan your journeys around them. Currently the information that we take is supplied in two formats, present and future, which
		caters to current roadworks, events and accidents(present), and of course planned roadworks and events(future).<br/>
		The data is maintained by the highways agency and can be found <a href="http://data.gov.uk/dataset/live-traffic-information-from-the-highways-agency-road-network">here</a>,
		along with live traffic data.<p></div>
		You can search this data through a form at the bottom of either page, e.g. "M24" which will return all data sets mentioning M24. Beware, searching for A5 will return
		results for A5, A52, A55 etc. but thats life. If you possess an admin account you can also log in with that.
		<h3>
		<div><%= link_to "Current", "/current/index" %></div>
		<div><%= link_to "Future", "/future/index" %></div>
		<br>
		</h3>
		<br/>
		</div>
		<div align="right">
			You are logged in as <%= @user %>
			<%= link_to 'Admin Log In', log_in_path %>
			<%= link_to 'Log out', log_out_path %>
		</div>
	</div>
	</body>
</html>