<body style="background-color:#CFCFCF;">
	<div id="body" align="center" style="width:100%;height:100%;position:relative" >
		<h1>Road Problems from the Future</h1>
		<div style="FLOAT:left;position:relative;width:33%;height:100%">
			<% @description.each do |description| %>
			<div style="border:2px solid black;height:200px">
				Description:<%= description =%><p>
			</div>
			<% end %>
		</div>
		<div style="FLOAT:left;position:relative;width:17%;height:100%">
			<% @period.each do |period| %>
			<div style="border:2px solid black;height:200px">
				Start:<%= period =%><p>
			</div>
			<% end %>
		</div>
		<div style="FLOAT:left;position:relative;width:17%;height:100%">
			<% @end.each do |period| %>
			<div style="border:2px solid black;height:200px">
				End:<%= period =%><p>
			</div>
			<% end %>
		</div>
		<div style="FLOAT:left;position:relative;width:33%;height:100%">
			<% @delay.each do |delay| %>
			<div style="border:2px solid black;height:200px">
				Delays:<%= delay =%> minutes<p>
			</div>
			<% end %>
		</div>
		<br/>
	</div>
	<div>
	<h3>Search</h3>
<form action ="search" method="post">
<input name = "key" type="input" />
<input value="Send" type="submit"/>
</form> 
		<%= link_to "Back to main page", "/main/index" %><p>  
		<%= link_to "Current", "/current/index" %>
	</div>
		<div align="right">
		You are logged in as <%= @user %>
		<%= link_to 'Admin Log In', log_in_path %>
		<%= link_to 'Log out', log_out_path %>
	</div>
</body>
