<body style="background-color:#CFCFCF;">
	<div id="body" align="center" style="width:100%;height:100%;position:relative" >
		<h1>Search results</h1>
		<div style="FLOAT:left;position:relative;width:100%;height:100%">
			<% @finding.each do |description| %>
			<div style="border:2px solid black;height:200px">
				<%= description =%><p>
			</div>
			<% end %>
		</div>
		<br/>
	</div>
	<div>
		<%= link_to "Back to main page", "/main/index" %><p>  
		<%= link_to "Back to the Future", "/future/index" %>
	</div>
</body>
