<!DOCTYPEhtml>
<html>
<head>
<% if content_for?(:head) %>
	<%= content_for(:head) %>
<% else %>
	<title>Road app</title>
<% end %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%flash.each do|name,msg|%>
<%=content_tag :div,msg,:id=>"flash#{name}"%>

<%end%>
<%= yield %>

</body>
</html>
